@model Addidas.Model.UserRegisteration

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />
<div class="register_account">
    <div class="wrap">
        <h4 class="title">Create an Account</h4>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)    

            <div class="col_1_of_2 span_1_of_2">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Name, new { @placeholder = "Name" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Email, new { @placeholder = "Email" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password, new { @placeholder = "Password" })
                    @Html.ValidationMessageFor(model => model.Password)
                </div>
                @*<div class="editor-field">
                    @Html.PasswordFor(model => model.ConformPassword, new { @placeholder = "ConformPassword" })
                    @Html.ValidationMessageFor(model => model.ConformPassword)
                </div>*@
            </div>

            <div class="col_1_of_2 span_1_of_2">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Country, new { @placeholder = "Country" })
                    @Html.ValidationMessageFor(model => model.Country)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Contactno, new { @placeholder = "Contactno" })
                    @Html.ValidationMessageFor(model => model.Contactno)
                </div>

                @*<div class="editor-field">
                    @Html.TextBoxFor(model => model.ColorMasterID)
                    @Html.ValidationMessageFor(model => model.ColorMasterID)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NoOfCounts)
                    @Html.ValidationMessageFor(model => model.NoOfCounts)
                </div>*@
            </div>
            <p>                
                <input value="submit" class="grey" type="submit" />
            </p>
            <div class="clear"></div>
        
        }
    </div>
</div>

