@model Addidas.Model.ProductMaster

@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="register_account">
        <div class="wrap">
            <h4 class="title">Product Add</h4>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)    

            <div class="col_1_of_2 span_1_of_2">
                <div>
                    @Html.TextBoxFor(model => model.ProductName, new { @placeholder = "ProductName" })
                    @Html.ValidationMessageFor(model => model.ProductName)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ProductDescription, new { @placeholder = "ProductDescription" })
                    @Html.ValidationMessageFor(model => model.ProductDescription)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Price, new { @placeholder = "ProductName" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Size, new { @placeholder = "Price" })
                    @Html.ValidationMessageFor(model => model.Price)
                </div>
            </div>

            <div class="col_1_of_2 span_1_of_2">
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Size, new { @placeholder = "Size" })
                    @Html.ValidationMessageFor(model => model.Size)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.Rating, new { @placeholder = "Rating" })
                    @Html.ValidationMessageFor(model => model.Rating)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.ColorMasterID, new { @placeholder = "ColorMasterID" })
                    @Html.ValidationMessageFor(model => model.ColorMasterID)
                </div>

                <div class="editor-field">
                    @Html.TextBoxFor(model => model.NoOfCounts, new { @placeholder = "NoOfCounts" })
                    @Html.ValidationMessageFor(model => model.NoOfCounts)
                </div>
            </div>
            <p>
                <button class="grey">Submit</button>
            </p>
            <div class="clear"></div>
        
}
            </div>
    </div>   


